@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorPassword, #errorName, #errorPhone, #errorEmail, #errorAddress, #errorLastName {
    display: none;
}

.errorColorRed {
    border-color: red;
}

.validGreen {
    border-color: green;
}